<html>
<body bgcolor="palegreen">
<center>
<head><title>New User</title></head>
<h2><b><font color="Blue"> Welcome to New User Registration</font></b></h2>
<form method="get" action="http://localhost:8080/examples/servlet/newuser">
<h3>Enter All the details</h3>

<table border=4>

<tr><td>Employee No   :</td><td><input type=text name="eno"></td></tr>
<tr><td>Employee Name :</td><td><input type=text name="ename"></td></tr>
<tr><td>Employee Age  :</td><td><input type=text name="age"></td></tr>
<tr><td>Employee's DOB:</td><td><input type=text name="dob"></td></tr>
<tr><td>Employee's DOJ:</td><td><input type=text name="doj"></td></tr>
<tr><td>Contact Address:</td><td><input type=text name="addr"></td></tr>
<tr><td>Mobile       :</td><td><input type=text name="mob"></td></tr>
<tr><td>E-mail Address:</td><td><input type=text name="email"></td></tr>

</table>
<table>
<br>
<input type=submit value="Register">
<input type=reset value="Clear">
</table>

</center>
</form>
</body>
</html>