<html>
<body bgcolor=palegreen>
  <center>
    <h2>
      ***** Welcome to RANJI SHOPPING MALL *****
      <h2>
        <form method="get" action="http://localhost:8080/examples/servlet/ranshopitems">

          <table border=0>
            <tr>
              <th>
                <h3>Items</h3>
              </th>
            </tr>

            <tr>
              <td><input type=checkbox value="Mouse" name="cb1">Mouse<br></td>
            </tr>
            <tr>
              <td><input type=checkbox value="Keyboard" name="cb1">Keyboard</td>
            </tr>
            <tr>
              <td><input type=checkbox value="CPU" name="cb1">CPU</td>
            </tr>
            <tr>
              <td><input type=checkbox value="Printer" name="cb1">Printer</td>
            </tr>
            <tr>
              <td><input type=checkbox value="Monitor" name="cb1">Monitor</td>
            </tr>
          </table>
          <br> <input type=submit value="SUBMIT"> <input type=reset value="CLEAR">
        </form>
  </center>
</body>
</html>