<html>
<body bgcolor=palegreen>
  <form method="get" action="http://localhost:8080/examples/servlet/computer1">
    <center>
      <h3>Computer Accessories</h3>
      <table border=5 cellspacing=5 cellpadding=3>
        <tr>
        <tr>
          <th>ITEM</th>
          <th>RATE(in Rs.)</th>
        </tr>
        <tr>
          <td>Mouse</td>
          <td>350</td>
          <td><input type=checkbox name="computer" value="Mouse"></td>
        </tr>
        <tr>
          <td>Keyboard</td>
          <td>550</td>
          <td><input type=checkbox name="computer" value="Keyboard"></td>
        </tr>
        <tr>
          <td>Monitor</td>
          <td>4000</td>
          <td><input type=checkbox name="computer" value="Monitor"></td>
        </tr>
        </tr>
      </table>
      <br>
      <tr>
        <td><input type=submit value="Add to Cart">
      <tr>
        <td><input type=reset value="Clear"> <a href="index.html">Back</a>
    </center>
  </form>
</body>
</html>