<html>
<body bgcolor=palegreen>
  <form method="get" action="http://localhost:8080/examples/servlet/homeapp">
    <center>
      <h3>Home Appliances</h3>
      <table border=5 cellspacing=5 cellpadding=3>
        <tr>
        <tr>
          <th>ITEM</th>
          <th>RATE(in Rs.)</th>
        </tr>
        <tr>
          <td>Television</td>
          <td>10000</td>
          <td><input type=checkbox name="homeapp" value="Television"></td>
        </tr>
        <tr>
          <td>Fridge</td>
          <td>15000</td>
          <td><input type=checkbox name="homeapp" value="Refrigerator"></td>
        </tr>
        <tr>
          <td>Grinder</td>
          <td>4500</td>
          <td><input type=checkbox name="homeapp" value="Grinder"></td>
        </tr>
        <tr>
          <td>Mixie</td>
          <td>2500</td>
          <td><input type=checkbox name="homeapp" value="Mixie"></td>
        </tr>
        </tr>
      </table>
      <br>
      <tr>
        <td><input type=submit value="Add to Cart">
      <tr>
        <td><input type=reset value="Clear"> <a href="index.html">Back</a>
    </center>
  </form>
</body>
</html>