<html>
<body bgcolor=palegreen>
  <center>
    <table border=0>
      <tr>
        <td><h2>Product Index</h2></td>
      </tr>
      <tr>
        <td><a href="http://localhost:8080/examples/computer.html"><h3>Computer Accessories</h3></a></td>
      </tr>
      <tr>
        <td><a href="http://localhost:8080/examples/homeapp.html"><h3>Home Appliances</h3></a></td>
      </tr>
      <tr>
        <td><a href="http://localhost:8080/examples/sports.html"><h3>Sports Goods</h3></a></td>
      </tr>
    </table>
  </center>

</body>
</html>