<html>
<body bgcolor=palegreen>
  <center>
    <h2>
      Ranji's Shopping Cart
      <h2>
        <form method="get" action="http://localhost:8080/examples/servlet/shoppinglogin">
          <table border=3>
            <tr>
              <td>UserName</td>
              <td><input type="text" name="user">
              <td>
            </tr>
            <tr>
              <td>Password</td>
              <td><input type="password" name="pass">
              <td>
            </tr>
          </table>
          <input type=submit value="Login">
        </form>
  </center>
</body>
</html>