<html>
<body bgcolor=palegreen>
  <form method="get" action="http://localhost:8080/examples/servlet/sports">
    <center>
      <h3>Sports Goods</h3>
      <table border=5 cellspacing=5 cellpadding=3>
        <tr>
        <tr>
          <th>ITEM</th>
          <th>RATE(in Rs.)</th>
        </tr>
        <tr>
          <td>Football</td>
          <td>400</td>
          <td><input type=checkbox name="sports" value="Football"></td>
        </tr>
        <tr>
          <td>Volleyball</td>
          <td>450</td>
          <td><input type=checkbox name="sports" value="Volleyball"></td>
        </tr>
        <tr>
          <td>Ringbal</td>
          <td>1000</td>
          <td><input type=checkbox name="sports" value="Ringbal"></td>
        </tr>
        <tr>
          <td>Rubberball</td>
          <td>200</td>
          <td><input type=checkbox name="sports" value="Rubberball"></td>
        </tr>
        <tr>
          <td>Hockeyball</td>
          <td>300</td>
          <td><input type=checkbox name="sports" value="Hockeyball"></td>
        </tr>
        </tr>
      </table>
      <br> <input type=submit value="Add to Cart">
      <tr>
        <td><input type=reset value="Clear"> <a href="index.html">Back</a>
    </center>
  </form>
</body>
</html>