<html>
<head>
<title>Ranji's Book Store</title>
</head>
<body pgcolor="white">
<center>
<table border=4>
<tr><td valign="center">
<font size=1 face="ARIAL" color="red">
<h1>Welcome to Ranji's Book Store</h1>
</font>
</td></tr>
</table>
<hr>
<br><br><br>
<table width=600>
<tr>
<font face="ARIAL" color="red">
<h3>
<td><b>SEARCH</b></td>
<td align="center"><b>HOT LIST</b></td>
</h3>
</font>
</tr>
<br><br>
<tr>
<td>
<form method=post action="http://localhost:8080/examples/servlet/ranbooks">
SUBJECT<BR>
<select name="subject" size=1>
<option value="java">Java
<option value="struts">Struts
<option value="swings">Swings
<option value="oracle">Oracle
</select>
<input type="submit" value="FIND">
</form>
</td>
<td>
<font face="courier" color="brown" size=5>
<emp><strong><u>Compuer Language Books</u></strong></emp>
</font>
<font face="Timesroman" color="blue" size=3>
<ul>
<li>Learn about the latest computer language books.
<li>We have so many good books.
<li>The books have the complete solution for ur programming needs.
</ul>
</font>
</td>
</tr>
</table>
</center>
<font face="arial" size=4 color="blue">
<marquee>Checkout our great Computer Language books!</marquee>
</font>
</body>
</html>







