<html>
<head>
<title>
	 comet infotech 
</title>
</head>

<body bgcolor="#f94ff7">

<h4> <b><center>WELCOME TO COMET INFOTECH </center> </b> </h4>
<form method=get action="http://localhost:8080/examples/servlet/accessories">


<center>
Select ITEM: <select size=1 name=access>
<option value=mouse selected> mouse
<option value=keyboard> keyboard
<option value=ups >ups
<option value=moniter> moniter
<option value=harddisk> harddisk
</option>
</select>
<br>


Enter the quantity:<input type=text name=value>
<br>


<input type=submit value=view rates>


<input type=reset value=clear>

</center>
<form>

</body>
</html>
