<HTML>
<BODY bgColor=palegreen>
<CENTER>
<H2>Welcome to Ranji's Computer Peripherals</H2>
<FORM method="get" action="http://localhost:8080/examples/servlet/accessory">
<H4>Select Your Item: <SELECT size=1 name="accessory"> 
<OPTION value=Mouse selected>Mouse
<OPTION value=Keyboard>Keyboard
<OPTION value=Laptop>Laptop
<OPTION value=CPU>CPU
<OPTION value=Monitor>Monitor
<OPTION value=Printer>Printer
</OPTION>
</SELECT> 
<H4>Enter the Quantity: <INPUT type=text name="quantity"></H4>
<INPUT type=submit value="View Rates">
<INPUT type=reset value=clear>
</FORM></BODY></HTML>
